.text-box-2{
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: transparent;
    padding: 10px;
    margin: 10px 0px;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.sub-btn{
    border: 1px solid black;
    background: black;
    width:30%;
    color: white;
}